<h2>Post Form</h2>
<form class="" action="new" method="post">
  <input type="text" name="post_title">
  <input type="text" name="post_description">
  <input type="submit" value="Submit Post">
</form>
