<h2>Post Form</h2>
<form class="" action="new" method="post">
  <input type="text" id="post_title" name="post[title]">
  <textarea id="post_description" name="post[description]"></textarea><br>
  <input type="submit" value="Submit Post">
</form>

<%= params.inspect %>
